{% load static djstripe_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Skyrise // Subscription</title>
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/views/initial-payment.css' %}">
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="{% static 'images/sr/sr_logo.png' %}" alt="">
    </div>

    <h3>Select a plan</h3>

    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    {% if view.error %}
        <div class="alert alert-error">{{ view.error }}</div>
    {% endif %}

    <div class="row">
      {% if user.userprofile.is_beta_user and user.userprofile.plan %}
      {% with plan=user.userprofile.plan %}
      <div class="panel plan panel-success">
        <div class="panel-heading">
          <h2>{{ plan.name }}</h2>
        </div>

        <div class="panel-body">
          <div class="price">
            ${{ plan.price|djdiv:100|floatformat:"0" }} / month
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check text-success"></i> Unlimited portfolios</li>
          <li class="list-group-item"><i class="fa fa-check text-success"></i> Unlimited properties</li>
          <li class="list-group-item"><i class="fa fa-check text-success"></i> Unlimited staff</li>
        </ul>

        <div class="panel-footer">
          <form action="{% url 'finish_beta_registration' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-block btn-default" type="submit">Select this plan</button>
          </form>
        </div>
      </div>
      {% endwith %}
      {% else %}
      {% for plan in PLAN_LIST|dictsort:'price' %}
        {% if not 'beta' in plan.plan %}
        {% with plan_count=PLAN_LIST|length %}
          <div class="col-xs-{{ 12|djdiv:plan_count|floatformat }}">
        {% endwith %}
             <!--  <form
                {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                    action="{% url 'djstripe:subscribe' %}" class="djstripe-subscribe"
                    data-key="{{ STRIPE_PUBLIC_KEY }}"
                    data-amount="{{ plan.price }}"
                    data-name="{{ plan.name }}"
                    data-description="{{ plan.description }}"
                {% else %}
                    data-stripe-key="{{ STRIPE_PUBLIC_KEY }}"
                    action="{% url 'djstripe:change_plan' %}" class="djstripe-change-plan"
                {% endif %}
              method="POST"> -->


                  <!-- {% csrf_token %}
                  <input type="hidden" name="plan" value="{{ plan.plan }}" />
                  <input name="stripe_token" type="hidden" />  -->

                  <!-- disable this when clicked -->
                  <!-- <button
                    {% if customer.current_subscription.plan == plan.plan and customer.current_subscription.status != CurrentSubscription.STATUS_CANCELLED %}
                      disabled="true"
                    {% endif %}
                   type="submit" class="btn btn-primary">
                    {% with image=plan.image|default:"img/default-plan-image.png" %}
                      <img src="{% static image %}" class="img-thumbnail" />
                    {% endwith %}
                    <h3>{{ plan.name }}</h3>
                    <p>{{ plan.description }}</p>
                  </button> -->

                <!-- {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %} -->
                  <!-- do nothing -->
                <!-- {% elif customer.current_subscription.plan == plan.plan %}
                  <h4>Your Current Plan</h4>
                {% elif customer.current_subscription.amount < plan.price|djdiv:100 %}
                  <h4>Upgrade</h4>
                {% elif customer.current_subscription.amount > plan.price|djdiv:100 %}
                  <h4>Downgrade</h4>
                {% endif %}
              </form> -->
            <div class="panel plan panel-success">
              <div class="panel-heading">
                <h2>{{ plan.name }}</h2>
              </div>

              <div class="panel-body">
                <div class="price">
                  ${{ plan.price|djdiv:100|floatformat:"0" }} / month
                </div>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-check text-success"></i> Unlimited portfolios</li>
                <li class="list-group-item"><i class="fa fa-check text-success"></i> Unlimited properties</li>
                <li class="list-group-item"><i class="fa fa-check text-success"></i> Unlimited staff</li>
              </ul>

              <div class="panel-footer">
                <form action="{% url 'djstripe:subscribe' %}" data-key="{{ STRIPE_PUBLIC_KEY }}" data-amount="{{ plan.price }}" data-name="{{ plan.name }}" data-description="{{ plan.description }}" class="djstripe-subscribe">
                  <input type="hidden" name="plan" value="{{ plan.plan }}">
                  <input type="hidden" name="stripe_token">
                  <button class="btn btn-block btn-default" type="submit">Select this plan</button>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script text="text/javascript">
      $(function() {

          $('body').on("click", '.djstripe-subscribe button[type=submit]', function(e) {
            e.preventDefault();
            // retrieve current $(".djstripe-subscribe")
            var $form = $(e.target).parents('form'),
                token = function(res) {
                  $form.find("input[name=stripe_token]").val(res.id);
                  $("button[type=submit]").attr("disabled", "true");
                  $('#in-progress').modal({"keyboard": false})
                  $('.progress-bar').animate({width:'+=100%'}, 2000);
                  $form.trigger("submit");
                };
            StripeCheckout.open({
              key:         "{{ STRIPE_PUBLIC_KEY }}",
              name:        'Payment Method',
              panelLabel:  'Add Payment Method',
              amount:      0,
              email:       '{{ user.email }}',
              allowRememberMe: false,
              panelLabel:  'Subscribe to ' + $form.data('name'),
              token:       token
            });

            return false;
          });
          {% if PLAN_LIST|length > 1 %}
            $('.djstripe-change-plan').click(function(e){
                $("button[type=submit]").attr("disabled", "true");
                $('#in-progress').modal({"keyboard": false})
                $('.progress-bar').animate({width:'+=100%'}, 2000);
                var $form = $(this);
                $form.trigger("submit");
            });
          {% endif %}

      });
  </script>
</body>
</html>
